{% load socialaccount %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block title %}Hoos Exercising{% endblock %}

{% block content %}
<style>
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .google-btn {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color:  rgb(117, 117, 117);
    border-color: rgb(222, 226, 230);;
  }
  .primary {
    margin-top: 25%
  }
  body {
    background-color: white;
  }
</style>

<body class="text-center">
  <div class="container">
    <div class="primary">
      <!-- <h1><b>'Hoos<br>Exercising</b></h1> -->
      <img style="width: 300px; margin-bottom: 20px" src="{% static 'logo.png' %}">
      <!-- <hr style="width: 270px; margin-top: 10px"> -->
      <br>
      {% if user.is_authenticated %}
      <p>Welcome, You are logged in as {{ user.first_name }} {{ user.last_name }}</p>
      {% else %}
      <a class="btn btn-light google-btn" href="{% provider_login_url 'google' %}">
        <img style="height: 20px; margin-right: 7px; margin-top: -2px" src="https://gist.githubusercontent.com/twolfson/8f578c0720df7fc87f29e4d8395cf76b/raw/cee86d79725205756e742469b5f02dacf30a09a7/logo-from-builder.svg">
        Sign in with Google
      </a>

      {% endif %}
    </div>
  </div>
</body>

{% endblock %}
