{% extends 'oauth/base.html' %}

{% load socialaccount %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}

{% block title %}Profile for {{ displayed_profile.user.first_name }} {% endblock %}

{% block content %}
<body>
<div class="container">
  <div class="row mt-4">
    <div class="col-sm text-center">
      <img src="{% static 'profile_placeholder.jpg' %}">
      <p class="pt-2"> {{ displayed_profile.bio }}</p>
      {% if displayed_profile.pk == user.profile.pk %}
      <a class="mt-5"href="{%url 'edit_profile' %}"> Update Profile </a>
      {% endif %}
    </div>
    <div class="col-sm">
        <div class="row">
            <h1 class="text-center"> {{ displayed_profile.user.first_name }} {{ displayed_profile.user.last_name }}</h1>
        </div>
        <hr>
        <h2 class="row">
           Height: {{ displayed_profile.height }} inches
        </h2>
        <h2 class="row">
           Weight: {{ displayed_profile.weight }} lbs
        </h2>
        <h2 class="row">
           Points: {{ displayed_profile.points }}
        </h2>
    </div>
  </div>
</div>
</body>

{% endblock %}