{% load socialaccount %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<html>
    <head>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css"
            integrity="sha512-xmGTNt20S0t62wHLmQec2DauG9T+owP9e6VU8GigI0anN7OXLip9i7IwEhelasml2osdxX71XcYm6BQunTQeQg=="
            crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">
    </head>
    <style type="text/css">
        
        body {
            background-color: #232D4B;
        }

        .bootstrap-tagsinput {
            width: 100%;
        }
    
        .label-info {
            background-color: #17a2b8;
    
        }
    
        .label {
            display: inline-block;
            padding: .25em .4em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25rem;
            transition: color .15s ease-in-out, background-color .15s ease-in-out,
                border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }
        /*.our-taginput {
            
        }*/
        .primary {
            top: 20px;
            width: 75%;
        }
        /* .add-exercise {
            top: 10px;
            position: relative;
        } */
        hr {
            margin-top: 1rem;
            margin-bottom: 1rem;
            border: 0;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
        .btn-journal {
            margin-top: -6;
            margin-bottom: -5;
            margin-right: -5px;
            float: right;
        }

    </style>
        <script>

            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            const csrftoken = getCookie('csrftoken');

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (settings.type == "POST" && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            var journalOpen = false;
            var unsavedChanges = false;
            var currentJournal = -1;

            function showJournal() {
                $('#journal').show();
                $('#journal-save').show();
                $('#journal-cancel').show();
                $.ajax({
                    type: 'post',
                    url: 'get_exercise',
                    data: {
                        id: currentJournal
                    },
                    success: function(msg) {
                        $("#journal").val(msg.journal);
                    },
                    error: function(a, b, c) {
                        console.log([a,b,c]);
                    }
                });
                journalOpen = true;
            }

            function hideJournal() {
                $('#journal').hide();
                $('#journal-save').hide();
                $('#journal-cancel').hide();
                journalOpen = false;
            }

            function openJournal(id) {
                if(journalOpen) {
                    cancelJournal(id);
                } else {
                    unsavedChanges = false;
                    currentJournal = id;
                    showJournal();
                }
            }

            function submitJournal() {
                if(!journalOpen) return;
                $.ajax({
                    type: 'post',
                    url: 'set_journal',
                    data: {
                        id: currentJournal,
                        journal_contents: $('#journal').val()
                    },
                    success: function(msg) {
                        unsavedChanges = false;
                        $('#save-badge').show();
                        setTimeout(function() {
                            $('#save-badge').hide();
                        }, 1800);
                    },
                    error: function(a, b, c) {
                        console.log([a,b,c]);
                    }
                });
            }

            function cancelJournal(nextJournalID) {
                if(!journalOpen) return;
                if(unsavedChanges) {
                    $('#saveDialogue').modal('show');
                } else {
                    if(nextJournalID != undefined) {
                        journalOpen = false;
                        openJournal(nextJournalID);
                    } else {
                        closeJournal();
                    }
                }
            }

            var currentExercise = -1;
            function deleteExercise(id) {
                currentExercise = id;
                $('#deleteDialogue').modal('show');
            }

            function doDeletion() {
                $.ajax({
                    type: 'post',
                    url: 'delete_exercise',
                    data: {
                        id: currentExercise,
                    },
                    success: function(msg) {
                        if(unsavedChanges) {
                            alert("You have unsaved changes. Save and reload the page.");
                        } else {
                            location.reload();
                        }
                    },
                    error: function(a, b, c) {
                        console.log([a,b,c]);
                    }
                });
            }

            function closeJournal() {
                $('#journal').val("");
                currentJournal = -1;
                hideJournal();
            }

            $(document).ready(function () {
                hideJournal();
                $('#save-badge').hide();    
                var table = $('#etable').DataTable();
                $('#navbar-inner').width($('#main-card').width());
                $('#tagsinput').tagsinput({
                    confirmKeys: [13, 32],
                });
            });

        </script>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"
        integrity="sha512-VvWznBcyBJK71YKEKDMpZ0pCVxjNuKwApp4zLF3ul+CiflQi6aIJR+aZCP/qWsoFBA28avL5T5HA+RE+zrGQYg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput-angular.min.js"
        integrity="sha512-KT0oYlhnDf0XQfjuCS/QIw4sjTHdkefv8rOJY5HHdNEZ6AmOh1DW/ZdSqpipe+2AEXym5D0khNu95Mtmw9VNKg=="
        crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="mx-auto" id="navbar-inner" style="padding: 0; margin: 0;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/dashboard">Exercise Dashboard <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/leaderboard">Leaderboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/music">Music</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link mr-2 " href="/profile/friends/">Friends</a>
                    </li>
                    <li class="nav-item" style="margin-right:8px;">
                        <a href="/profile" class="navbar-text">Profile</a>
                    </li>
                </ul>        
            </div>
        </div>
    </nav>
    <div class="modal fade" id="saveDialogue" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">You have unsaved changes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button onclick="closeJournal()" type="button" class="btn btn-danger" data-dismiss="modal">Discard changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteDialogue" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to delete this exercise?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button onclick="doDeletion()" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card primary mx-auto" id="main-card">
            <div class="card-body">
                <div class="add-exercise">
                    <h3>Add exercise</h3>
                    <form action="submit_exercise" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-auto">
                                <h6>Type</h6>
                                <input type="text" class="form-control form-control-sm" placeholder="Resistance" name="type">
                            </div>
                            <div class="col-auto">
                                <h6>Name</h6>
                                <input type="text" class="form-control form-control-sm" placeholder="Plank" name="name">
                            </div>
                            <div class="col">
                                <h6>Body Parts Worked</h6>
                                <input class="form-control" id="tagsinput" type="text" data-role="tagsinput" name="tags">
                            </div>
                            <div class="col-auto">
                                <h6><br></h6>
                                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <hr />
                <textarea class="form-control" placeholder="Add notes..." id="journal" onchange="unsavedChanges=true" style="margin-top: 6px; margin-bottom: 8px"></textarea>
                <button style="margin-bottom: 14px;" id="journal-save" onclick="submitJournal()" type="button" class="btn btn-success">Save</button>
                <button style="margin-bottom: 14px;" id="journal-cancel" onclick="cancelJournal()" type="button" class="btn btn-secondary">Close</button>
                <span style="padding-top:6px; padding-bottom: 6px; margin-left: 4px" id="save-badge" class="badge badge-success"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-check-fill" viewBox="0 0 16 16">
                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm1.354 4.354-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                  </svg>
                </span>
                <table class="table table-striped table-bordered" id="etable" style="width:100%">
                    <thead>
                      <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Name</th>
                        <th scope="col">Body Parts Worked</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for exercise in user_exercises %}
                            <tr>
                                <td>{{exercise.type}}</td>
                                <td>{{exercise.name}}</td>
                                <td>
                                    {{exercise.parts_worked|join:', '}}
                                    <button onclick="deleteExercise( {{ exercise.id }} )" class="btn btn-danger  btn-sm btn-journal"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                      </svg>                                      
                                      </button>
                                    <button onclick="openJournal( {{ exercise.id }} )" style="margin-right: 6px" class="btn btn-warning  btn-sm btn-journal"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                                        <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                                      </svg>
                                      </button>
                                </td>
                            </tr>    
                        {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
        <div style="text-align: center; margin-top: 30px">
            <img style="width: 70px" src="{% static 'logo-notext.png' %}">
        </div>    
    </div>
</body>

</html>